body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

#main {
    background-image: url(assets/giphy.gif);
    background-size: cover;
    padding: 10px 0 500px 0;

}

.btn {
    padding: 6PX 12PX;
    color: #82a5ca;
    background: white;
    border: none;
    font-family: 'Satisfy', cursive;
    font-weight: bold;
}

.underline {
    border-bottom: 2px solid;
}

#space-logo {
    width: 100px;
}
