body {
    color: white;
    background-image: url(assets/giphy.gif);
    background-size: cover;
    text-align: center;
    font-family: 'Satisfy', cursive;
}

.btn {
    padding: 6PX 12PX;
    background: white;
    border: none;
    font-family: 'Satisfy', cursive;
}

.underline {
    border-bottom: 2px solid;
}

#space-logo {
    width: 100px;
}